@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');
body{
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
                                                
 
}
a {
    text-decoration: none;
    color:#000;
    }
    .header{
        background-color: #fff;
    }
    li {
    list-style-type: none;
    }
    .navbar {
        
    padding: 20px;
    text-align: right;
   
    width: 100%;
    z-index: 5;
    }
    .nav-logo {
    float: left;
    font-weight:bold;
    font-size: 18px ;
    }
    
    .navigation {
      display: inline-block;
    
    }
    .nav-items {
     display: inline-block;
     
     padding: 10px;
    }
    
    .nav-links {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    text-transform: uppercase;
    }
    
    .ham-button {
      position: absolute;
      top: 50%;
      right: 5%;
      transform:translate(0,-50%);
      display: none;
      
    }
    
    .line1, .line2, .line3 {
      margin-bottom: 5px;
      height: 2px;
      width: 30px;
      background-color:#000;
      transition: transform 400ms;
    }
    @media (max-width: 768px) {
       .nav-links  a{
        color: #fff;
    }
      .ham-button {
        display:block;
      }
      .navbar { 
      text-align: center;
      }
      .nav-links {
    /*  display: none; */
         display: block;
        padding: 0 0 80px 0;
      }
      .nav-items {
    /*     display: none; */
      position: fixed;
      top: 0;
        left: 0;
        transform: translate(-100%,-100%);
        height: 100%;
        width: 100%;
        background-color: #121110d1;
        padding: 35% 0;
    /*     transition: transform .6s ease-in-out; */
      }
      .nav-links:hover a {
      color:crimson;
      }
    }
     .display {
      transform: translate(0,0);
      transition: transform .6s ease;
    }
    .toggle1 {
     margin-bottom: 0;
      transform: rotate(45deg) translate(9px, 0px);
      background-color: #000;
      transition: transform 400ms;
    }
     .toggle2 {
       margin-bottom: 0;
      background: transparent;
    }
    
     .toggle3 {
      margin-bottom: 0;
      transform: rotate(-45deg) translate(3px, 7px);
      background-color: #000;
       transition: transform 400ms;
    } 
.text-content{
    margin: 0;
}
.text-content span{
    font-size: 65px;
    line-height: 65px;
}
.content-main{
    margin: 0px;
    padding-top: 70px;
    padding-bottom: 20px;
   
}
.text{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.text-item p{
    margin: 0px;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
   
}
.right{
  text-align: right;
}
.footer{
  margin: 0;
}
.item-footer ul{
  padding: 0;

}
.item-footer h5{
  font-size: 18px;
  font-weight: 600;
}
.item-footer ul li{
  font-size: 15px;
  font-weight: 600;
  line-height: 17px;
}
.edit{
  line-height: 60px;
  
}
.end{
  text-align: end;
  
}
.end-row{
  padding-bottom: 60px;
}
.pr{
  padding-left:120px;
}
.img-home{
  background-image: url(/Images/BETHANY_1.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;

 
}
.uppercase {
  text-transform: uppercase;
}
.text-about{
  align-items: center;
  font-size: 30px;
  line-height: 30px;
  text-align: justify;
  padding-right: 35px;
}
.content-about{
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.name-project{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 12px;
}
.name-project h3{
  font-size: 44px;
  font-weight: bold;
}
.content-project{
  margin: 0px;
  padding-bottom: 20px;
}
.hidden{
  padding-right: 10px;
  text-align: end;
}
.content-item{
  padding-left: 0px;
  text-align: justify;
  padding-right: 35px;
}
.content-item p , .hidden p{ 
  font-size: 18px;
 
}
.img-item{
  padding-top: 20px;
  padding-bottom: 20px;
}
.hidden p{
  font-size: 25px;
}
.t{
  padding-right: 27px;
}
.r{
  display: none;
}
@media(max-width:600px){
  .r{
    display: block;
  }
  .t{
    padding-right: 0px;
  }
  .pr{
    padding-left: 12px;
  }
    .hidden{
      padding-right: 12px;
        display: none   
        
    }
    .content-item{
      padding-left:12px;
      padding-right: 12px;
    }
    .text-about{
      padding-right: 12px;
    }
    .end{
      text-align: start;
    
    }
   body{
    padding-left: 0px;
    padding-right: 0px;
   }
   .text-content span{
    font-size: 30px;
   }
}